<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <flowpayment>
                <active>1</active>
                <model>Flow\FlowConnector\Model\Payment\FlowPaymentMethod</model>
                <title>Flow Payment</title>
                <order_status>pending_payment</order_status>
            </flowpayment>
        </payment>
    </default>
</config>
