<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <flowpayment>
                <active>1</active>
                <model>FlowCommerce\FlowConnector\Model\Payment\FlowPaymentMethod</model>
                <title>Flow Payment</title>
                <order_status>pending_payment</order_status>
            </flowpayment>
        </payment>
        <carriers>
            <flowshipping>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>FlowCommerce\FlowConnector\Model\Carrier\FlowShippingMethod</model>
                <name>Flow Shipping</name>
                <title>Flow Shipping</title>
            </flowshipping>
        </carriers>
        <flowcommerce>
            <flowconnector>
                <enabled>0</enabled>
                <flowjs_version>latest</flowjs_version>
                <redirect_enabled>0</redirect_enabled>
                <support_magento_discounts>1</support_magento_discounts>
                <invoice_event>1</invoice_event>
                <invoice_email>1</invoice_email>
                <shipment_event>1</shipment_event>
                <shipment_email>1</shipment_email>
                <webhook_validation>1</webhook_validation>
                <country_picker>1</country_picker>
                <catalog_price_localization>1</catalog_price_localization>
                <preload_localized_catalog_cache>0</preload_localized_catalog_cache>
                <max_catalog_hide_ms>0</max_catalog_hide_ms>
                <cart_localization>1</cart_localization>
                <max_cart_hide_ms>0</max_cart_hide_ms>
                <payment_methods_pdp>1</payment_methods_pdp>
                <shipping_window_pdp>1</shipping_window_pdp>
                <tax_duty_messaging>1</tax_duty_messaging>
                <daily_catalog_sync>0</daily_catalog_sync>
                <regular_pricing_override>0</regular_pricing_override>
            </flowconnector>
        </flowcommerce>
    </default>
</config>
