<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Implementation of modules' interfaces -->
    <preference for="FlowCommerce\FlowConnector\Api\Data\InventorySyncInterface" type="FlowCommerce\FlowConnector\Model\InventorySync" />
    <preference for="FlowCommerce\FlowConnector\Api\Data\SyncSkuInterface" type="FlowCommerce\FlowConnector\Model\SyncSku" />
    <preference for="FlowCommerce\FlowConnector\Api\Data\WebhookEventInterface" type="FlowCommerce\FlowConnector\Model\WebhookEvent" />
    <preference for="FlowCommerce\FlowConnector\Api\Data\SyncSkuSearchResultsInterface" type="Magento\Framework\Api\Search\SearchResult" />
    <preference for="FlowCommerce\FlowConnector\Api\Data\InventorySyncSearchResultsInterface" type="Magento\Framework\Api\Search\SearchResult" />
    <preference for="FlowCommerce\FlowConnector\Api\SyncSkuManagementInterface" type="FlowCommerce\FlowConnector\Model\SyncSkuManager" />
    <preference for="FlowCommerce\FlowConnector\Api\SyncSkuPriceAttributesManagementInterface" type="FlowCommerce\FlowConnector\Model\SyncSkuPriceAttributesManager" />
    <preference for="FlowCommerce\FlowConnector\Api\LockManagerInterface" type="FlowCommerce\FlowConnector\Model\LockManager\Flag" />
    <preference for="FlowCommerce\FlowConnector\Api\IntegrationManagementInterface" type="FlowCommerce\FlowConnector\Model\IntegrationManager" />
    <preference for="FlowCommerce\FlowConnector\Api\InventorySyncManagementInterface" type="FlowCommerce\FlowConnector\Model\InventorySyncManager" />
    <preference for="FlowCommerce\FlowConnector\Api\InventoryCenterManagementInterface" type="FlowCommerce\FlowConnector\Model\InventoryCenterManager" />
    <preference for="FlowCommerce\FlowConnector\Api\InventorySyncRepositoryInterface" type="FlowCommerce\FlowConnector\Model\InventorySyncRepository" />
    <preference for="FlowCommerce\FlowConnector\Api\WebhookEventManagementInterface" type="FlowCommerce\FlowConnector\Model\WebhookEventManager" />
    <preference for="FlowCommerce\FlowConnector\Api\WebhookManagementInterface" type="FlowCommerce\FlowConnector\Model\WebhookManager" />

    <!-- Overriding Order Totals Block for magento admin -->
    <preference for="Magento\Sales\Block\Adminhtml\Order\Totals" type="FlowCommerce\FlowConnector\Block\Adminhtml\Order\Totals" />

    <!-- API Extension for discount handling -->
    <preference for="FlowCommerce\FlowConnector\Api\Data\DiscountRepositoryInterface" type="FlowCommerce\FlowConnector\Model\ResourceModel\DiscountRepository" />
    <preference for="FlowCommerce\FlowConnector\Api\Data\DiscountInterface" type="FlowCommerce\FlowConnector\Model\Discount" />
    <preference for="FlowCommerce\FlowConnector\Api\Data\DiscountEntitlementInterface" type="FlowCommerce\FlowConnector\Model\Discount\Entitlement" />
    <preference for="FlowCommerce\FlowConnector\Api\Data\DiscountEntitlementFormInterface" type="FlowCommerce\FlowConnector\Model\Discount\EntitlementForm" />
    <preference for="FlowCommerce\FlowConnector\Api\Data\DiscountOfferFormInterface" type="FlowCommerce\FlowConnector\Model\Discount\OfferForm" />

    <!-- Proxies for CLI commands -->
    <type name="FlowCommerce\FlowConnector\Console\Command\CatalogSyncProcessCommand">
        <arguments>
            <argument name="catalogSync" xsi:type="object">FlowCommerce\FlowConnector\Model\Sync\CatalogSync\Proxy</argument>
        </arguments>
    </type>
    <type name="FlowCommerce\FlowConnector\Console\Command\CatalogSyncQueueAllCommand">
        <arguments>
            <argument name="syncSkuManager" xsi:type="object">FlowCommerce\FlowConnector\Model\SyncSkuManager\Proxy</argument>
        </arguments>
    </type>
    <type name="FlowCommerce\FlowConnector\Console\Command\InventorySyncProcessCommand">
        <arguments>
            <argument name="inventoryManager" xsi:type="object">FlowCommerce\FlowConnector\Model\InventorySyncManager\Proxy</argument>
        </arguments>
    </type>
    <type name="FlowCommerce\FlowConnector\Console\Command\InventorySyncQueueAllCommand">
        <arguments>
            <argument name="inventorySyncManager" xsi:type="object">FlowCommerce\FlowConnector\Model\InventorySyncManager\Proxy</argument>
        </arguments>
    </type>
    <type name="FlowCommerce\FlowConnector\Console\Command\WebhookEventProcessCommand">
        <arguments>
            <argument name="webhookEventManager" xsi:type="object">FlowCommerce\FlowConnector\Model\WebhookEventManager\Proxy</argument>
        </arguments>
    </type>
    <type name="FlowCommerce\FlowConnector\Console\Command\WebhookRegisterWebhooksCommand">
        <arguments>
            <argument name="webhookManager" xsi:type="object">FlowCommerce\FlowConnector\Model\WebhookManager\Proxy</argument>
        </arguments>
    </type>
    <type name="FlowCommerce\FlowConnector\Console\Command\IntegrationInitializeCommand">
        <arguments>
            <argument name="integrationManager" xsi:type="object">FlowCommerce\FlowConnector\Model\IntegrationManager\Proxy</argument>
        </arguments>
    </type>
    <type name="FlowCommerce\FlowConnector\Console\Command\CatalogSyncAttributesSaveCommand">
        <arguments>
            <argument name="syncSkuPriceAttributesManager" xsi:type="object">FlowCommerce\FlowConnector\Model\SyncSkuPriceAttributesManager\Proxy</argument>
        </arguments>
    </type>
    <type name="FlowCommerce\FlowConnector\Console\Command\InventoryCenterFetchKeysCommand">
        <arguments>
            <argument name="inventoryCenterManager" xsi:type="object">FlowCommerce\FlowConnector\Model\InventoryCenterManager\Proxy</argument>
        </arguments>
    </type>

    <!-- CLI Commands -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="flowcommerce_flowconnector_catalog_sync_attributes_save" xsi:type="object">FlowCommerce\FlowConnector\Console\Command\CatalogSyncAttributesSaveCommand</item>
                <item name="flowcommerce_flowconnector_catalog_sync_queue_all" xsi:type="object">FlowCommerce\FlowConnector\Console\Command\CatalogSyncQueueAllCommand</item>
                <item name="flowcommerce_flowconnector_catalog_sync_process" xsi:type="object">FlowCommerce\FlowConnector\Console\Command\CatalogSyncProcessCommand</item>
                <item name="flowcommerce_flowconnector_integration_initialize" xsi:type="object">FlowCommerce\FlowConnector\Console\Command\IntegrationInitializeCommand</item>
                <item name="flowcommerce_flowconnector_inventory_center_fetch_keys" xsi:type="object">FlowCommerce\FlowConnector\Console\Command\InventoryCenterFetchKeysCommand</item>
                <item name="flowcommerce_flowconnector_inventory_sync_queue_all" xsi:type="object">FlowCommerce\FlowConnector\Console\Command\InventorySyncQueueAllCommand</item>
                <item name="flowcommerce_flowconnector_inventory_sync_process" xsi:type="object">FlowCommerce\FlowConnector\Console\Command\InventorySyncProcessCommand</item>
                <item name="flowcommerce_flowconnector_webhook_event_process" xsi:type="object">FlowCommerce\FlowConnector\Console\Command\WebhookEventProcessCommand</item>
                <item name="flowcommerce_flowconnector_webhook_register_webhooks" xsi:type="object">FlowCommerce\FlowConnector\Console\Command\WebhookRegisterWebhooksCommand</item>
                <item name="flowcommerce_flowconnector_cron_cleanup" xsi:type="object">FlowCommerce\FlowConnector\Console\Command\CronCleanupCommand</item>
            </argument>
        </arguments>
    </type>

    <!-- Plugin to enqueue all products after a full price reindex (promotions being applied) -->
    <type name="Magento\Catalog\Model\Indexer\Product\Price">
        <plugin name="enqueue_products_after_price_full_index" type="FlowCommerce\FlowConnector\Plugin\Magento\Catalog\Model\Indexer\Product\Price"/>
    </type>

    <!-- Plugin to observe catalog rule changes -->
    <type name="Magento\CatalogRule\Model\ResourceModel\Rule">
        <plugin name="after_rule_save_schedule_flow_full_sync" type="FlowCommerce\FlowConnector\Plugin\Magento\CatalogRule\Model\ResourceModel\Rule"/>
    </type>

    <!-- Plugin to enqueue all products after a mass attribute update is made from the admin -->
    <type name="Magento\Catalog\Model\Product\Action">
        <plugin name="enqueue_products_after_mass_attribute_update" type="FlowCommerce\FlowConnector\Plugin\Magento\Catalog\Model\Product\Action"/>
    </type>

    <type name="Magento\Setup\Model\FixtureGenerator\ProductGenerator">
        <arguments>
            <argument name="customTableMap" xsi:type="array">
                <item name="flow_connector_sync_skus" xsi:type="array">
                    <!--
                    Fix "Cannot find entity id field for table "flow_connector_sync_skus" issue with
                    Magento\Setup\Fixtures\FixtureModelTest::testFixtureGeneration
                     -->
                    <item name="entity_id_field" xsi:type="const">Magento\Setup\Model\FixtureGenerator\EntityGenerator::SKIP_ENTITY_ID_BINDING</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
