<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="flowcommerce_flowconnector_catalog_sync_queue_all" xsi:type="object">FlowCommerce\FlowConnector\Console\Command\CatalogSyncQueueAllCommand</item>
                <item name="flowcommerce_flowconnector_catalog_sync_process" xsi:type="object">FlowCommerce\FlowConnector\Console\Command\CatalogSyncProcessCommand</item>
                <item name="flowcommerce_flowconnector_webhook_event_process" xsi:type="object">FlowCommerce\FlowConnector\Console\Command\WebhookEventProcessCommand</item>
            </argument>
        </arguments>
    </type>
</config>
