<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_after">
        <observer name="FlowProductUpdateObserver" instance="FlowCommerce\FlowConnector\Observer\FlowProductUpdateObserver" />
    </event>
    <event name="catalog_product_delete_after">
        <observer name="FlowProductDeleteObserver" instance="FlowCommerce\FlowConnector\Observer\FlowProductDeleteObserver" />
    </event>
    <event name="admin_system_config_changed_section_flowcommerce">
        <observer name="FlowConnectorSettingsObserver" instance="FlowCommerce\FlowConnector\Observer\FlowConnectorSettingsObserver" />
    </event>
</config>
