<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_after">
        <observer name="FlowProductUpdateObserver" instance="FlowCommerce\FlowConnector\Observer\FlowProductUpdateObserver" />
    </event>
    <event name="cataloginventory_stock_item_save_after">
        <observer name="FlowInventoryUpdateObserver" instance="FlowCommerce\FlowConnector\Observer\FlowInventoryUpdateObserver" />
    </event>
    <event name="catalog_product_delete_after">
        <observer name="FlowProductDeleteObserver" instance="FlowCommerce\FlowConnector\Observer\FlowProductDeleteObserver" />
    </event>
    <event name="admin_system_config_changed_section_flowcommerce">
        <observer name="FlowConnectorSettingsObserver" instance="FlowCommerce\FlowConnector\Observer\FlowConnectorSettingsObserver" />
    </event>
    <event name="catalog_product_import_bunch_save_after">
        <observer name="FlowConnectorSyncAfterImportSave" instance="FlowCommerce\FlowConnector\Observer\SyncProductsAfterImportSave" />
    </event>
    <event name="catalog_product_import_bunch_delete_after">
        <observer name="FlowConnectorSyncAfterImportDelete" instance="FlowCommerce\FlowConnector\Observer\SyncProductsAfterImportDelete" />
    </event>
</config>
