<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Tax\Block\Item\Price\Renderer">
        <!-- Plugin to localize cart product listing. -->
        <plugin name="flowcommerce_flowconnector_item_price_renderer"
                type="FlowCommerce\FlowConnector\Plugin\Magento\Tax\Block\Item\Price\Renderer"
                sortOrder="99"/>
    </type>
    <type name="Magento\Checkout\Model\DefaultConfigProvider">
        <!-- Plugin to localize cart sidebar. -->
        <plugin name="flowcommerce_flowconnector_checkout_config"
                type="FlowCommerce\FlowConnector\Plugin\Magento\Checkout\Model\DefaultConfigProvider"
                sortOrder="99"/>
    </type>
</config>
