<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Tax\Block\Item\Price\Renderer">
        <!-- Plugin to localize main cart and mini cart product listing. -->
        <!-- Disabled in favor of FE cart localization -->
        <plugin name="flowcommerce_flowconnector_item_price_renderer"
                type="FlowCommerce\FlowConnector\Plugin\Magento\Tax\Block\Item\Price\Renderer" disabled="true" />
    </type>
    <type name="Magento\Checkout\Model\DefaultConfigProvider">
        <!-- Plugin to localize main cart totals. -->
        <!-- Disabled in favor of FE cart localization -->
        <plugin name="flowcommerce_flowconnector_checkout_config"
                type="FlowCommerce\FlowConnector\Plugin\Magento\Checkout\Model\DefaultConfigProvider" disabled="true" />
    </type>
    <!-- Plugin to localize mini cart totals. -->
    <type name="Magento\Checkout\CustomerData\Cart">
        <plugin name="flowcommerce_flowconnector_checkout_customerdata_cart"
                type="FlowCommerce\FlowConnector\Plugin\Magento\Checkout\CustomerData\Cart"/>
    </type>
</config>
