<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="flowcommerce" translate="label" sortOrder="10">
            <label>Flow Commerce</label>
        </tab>
        <section id="flowcommerce" translate="label" showInDefault="0" showInWebsite="0" showInStore="1">
            <class>separator-top</class>
            <label>Connector Settings</label>
            <tab>flowcommerce</tab>
            <resource>FlowCommerce_FlowConnector::connector_config</resource>
            <group id="flowconnector" translate="label" type="text" sortOrder="1" showInDefault="0" showInWebsite="0" showInStore="1">
                <label>Flow Credentials</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="organization_id" translate="label" type="text" sortOrder="2" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Organization Id</label>
                    <validate>required-entry</validate>
                    <comment>Flow Organization Id</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <frontend_class>required-entry</frontend_class>
                </field>
                <field id="api_token" translate="label" type="text" sortOrder="3" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>API Token</label>
                    <validate>required-entry</validate>
                    <comment>Flow API Token</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <frontend_class>required-entry</frontend_class>
                </field>
                <field id="redirect_enabled" translate="label" type="select" sortOrder="4" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Redirect to Flow Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="invoice_event" translate="label" type="select" sortOrder="5" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Create Invoice</label>
                    <source_model>FlowCommerce\FlowConnector\Model\Config\Source\InvoiceEvent</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="invoice_email" translate="label" type="select" sortOrder="6" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Send invoice email</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="invoice_event" separator=",">1,2</field>
                    </depends>
                </field>
                <field id="shipment_event" translate="label" type="select" sortOrder="7" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Create Shipment</label>
                    <source_model>FlowCommerce\FlowConnector\Model\Config\Source\ShipmentEvent</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="shipment_email" translate="label" type="select" sortOrder="8" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Send shipment email</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="shipment_event">1</field>
                    </depends>
                </field>
                <field id="webhook_validation" translate="label" type="select" sortOrder="9" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Enable Webhook Validation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="country_picker_enabled" translate="label" type="select" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Country Picker Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
        <section id="payment">
            <group id="flowpayment" translate="label" sortOrder="2" showInDefault="0" showInWebsite="0" showInStore="1">
                <label>Flow Payment</label>
                <field id="active" translate="label comment" sortOrder="1" type="select" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
       </section>
        <section id="carriers">
            <group id="flowshipping" translate="label" type="text" sortOrder="1000" showInDefault="0" showInWebsite="0" showInStore="1">
                <label>Flow Shipping</label>
                <field id="name" translate="label" type="text" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Method Name</label>
                </field>
                <field id="title" translate="label" type="text" sortOrder="30" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Title</label>
                </field>
            </group>
        </section>
    </system>
</config>
